<h1><%= link_to @terrain.name, terrains_path %></h1>
<h2><%= @terrain.description %></h2>
<%= image_tag @terrain.img_url %>

<% Character.all.map do |char| %>
  <% if char.terrain == @terrain %>
    <li>
      <%= link_to char.name, character_path(char) %>
    </li>
  <% end %>
<% end %>
