@charset "UTF-8";
/* CSS Document */

body
{
  background-color: black;
  /* font-family: Verdana, Geneva, Arial, sans-serif; */
  padding:0px;
  margin:0px;
  color: ghostwhite;
}

#header_title
{
  text-align: center;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

#grid
{
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2vw;
}

#grid > div
{
  font-size: 4vw;
  padding: .5em;
  border: 5px solid teal;
  background: darkcyan radial-gradient(steelblue, darkcyan);
  text-align: center;
}

a:link {
  color: gold;
}

a:visited {
  color: gold;
}

a:hover {
  color: yellow;
}

a:active {
  color: crimson;
}
